:root {
  --ow: antiquewhite;
  --color-1: #F3DCAF;
  --color-2: #FBC107;
  --color-3: #ADAC33;
  --color-4: #B1652B;
  --color-5: #893302;
}

html {
  background-color: var(--ow);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  min-height: 100vh;
}

header, footer {
  min-width: 100vw;
}

header {
  background-color: var(--color-2);
  padding: 1em;
}

header h1 {
  stroke: var(--color-1);
}

.alt-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alt-header a {
  text-decoration: none;
  color: inherit;
}

footer {
  background-color:var(--color-4);
  border-top: 2px solid var(--color-3);
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer p {
  display: block;
  font-size: 0.8em;
  padding: 0 5%;
  color: white;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  color: var(--ow);
}

footer a:hover {
  color: var(--color-3);
}

.generator-list{
  list-style-type: none;
}

.generator-list li {
  padding: 1em;
}

.generator-list li:hover {
  color: var(--color-5)
}

.generator-list a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.StyleCardTableau {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.StyleCard {
  margin: 1em;
  width: 200px;
}

.ColorPreviews {
  display: flex;
  flex: auto;
  min-height: 3em;
}

.colorBlock {
  flex: auto;
}

.download {
  border: 1px solid black;
  background-color: lightgray;
  color: black;
  border-radius: 3px;
  padding: 0.5em;
  text-decoration: none;
  display: block;
  margin: 1em;
}

.download:hover {
  background-color: gray;
  color: white;
}

.download:active {
  background-color: darkgrey;
  border: 1px solid darkgrey;
}