:root {
  --ow: antiquewhite;
  --color-1: #F3DCAF;
  --color-2: #FBC107;
  --color-3: #ADAC33;
  --color-4: #B1652B;
  --color-5: #893302;
}


html {
  background-color: var(--ow);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  min-height: 100vh;
  background-image: var(--blur);
  background-size: cover;
  background-position: center;
  transition: ease-in-out .1s;
}

.App.one-page-dungeon {background-image: url("../images/opd-blur.webp");}
.App.perilous-shores{background-image: url("../images/ps-blur.webp");}
.App.medieval-fantasy-city{background-image: url("../images/mfc-blur.webp");}
.App.neighborhood{background-image: url("../images/n-blur.webp");}
.App.mansion{background-image: url("../images/m-blur.webp");}
.App.village{background-image: url("../images/v-blur.webp");}
.App.cave{background-image: url("../images/c-blur.webp");}
.App.compass-rose{background-image: url("../images/cr-blur.webp");}

header, footer {
  min-width: 100vw;
}

header {
  background-color: var(--color-2);
  padding: 1em 0;
}

header h1 {
  stroke: var(--color-1);
}

.alt-header a {
  text-decoration: none;
  color: inherit;
}

footer {
  background-color:var(--color-4);
  border-top: 2px solid var(--color-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
}

footer p {
  display: block;
  font-size: 0.8em;
  padding: 0 5%;
  color: white;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  color: var(--ow);
}

.bookEnd {
  padding: 0 0.5em;
}

footer a:hover, header a:hover {
  color: var(--color-3);
}

.generator-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: auto;
  background-color: var(--ow);
  border-radius: 1em;
}

.generator-list li {
  padding: 1em;
}

.generator-list li:hover {
  color: var(--color-1);
  background-color: var(--color-3);
}

.one-page-dungeon:hover {
  border-radius: .9em .9em 0 0;
}
.compass-rose:hover {
  border-radius: 0 0 .9em .9em;
}

.generator-list a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.25rem;
}

.StyleCardTableau {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.StyleCard {
  margin: 1em;
  width: 200px;
  background-color: var(--ow);
  padding: 1em;
  border-radius: 1em;
}

.ColorPreviews {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  min-height: 1em;
}

.colorBlock {
  width: 36px;
  height: 36px;
  border-radius: 360px;
}

.download {
  border: 1px solid black;
  background-color: lightgray;
  color: black;
  border-radius: 3px;
  padding: 0.5em;
  text-decoration: none;
  display: block;
  margin: 1em;
}

.download:hover {
  background-color: gray;
  color: white;
}

.download:active {
  background-color: darkgrey;
  border: 1px solid darkgrey;
}